<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página web para consultar cartas pokemon y sus tipos">
        <meta name="author" content="Javier Cabrera">
        <meta name="keywords" content="pokemon, tipo,capturalos, cartas">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <%- include("partials/header", {tipos : tipos}) %>

        <main>
            
            <article class="carta">

                <header>
                    <h1><%= pokemon.nombre %></h1>
                    <p><%= pokemon.numero %></p>
                    <p><a href="/pokemon/<%= pokemon.tipo %>"><%= pokemon.tipo %></a></p>
                </header>

                <figure>
                    <img src="<%= pokemon.imagen %>" alt="<%= pokemon.nombre %>">
                </figure>
                
                <section class="content">
                    <%- pokemon.descripcion %>
                </section>

            </article>

        </main>

        <%- include("partials/footer") %>

    </body>
</html>