<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página web para consultar cartas pokemon y sus tipos">
        <meta name="author" content="Javier Cabrera">
        <meta name="keywords" content="pokemon, tipo,capturalos, cartas">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <%- include("partials/header", {tipos : tipos}) %>

        <main>
            <section id="cartas-section">
                <h2>Pokemons registrados</h2>

                <div class="container">
                    <% pokemons.forEach(pokemon => { %>
                        <a href="/pokemon/<%= pokemon.id %>">
                            <%- include("partials/carta", {pokemon : pokemon}) %>
                        </a>
                    <% }); %>
                </div>

            </section>
        </main>

        <%- include("partials/footer") %>

    </body>
</html>